

h2
	{margin-right: 60px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-top:}

p {	font-family:Myriad Pro ;
	font-weight: lighter;
	text-align: left;
	padding-top: 60px;
	margin-right: 500px;
	margin-bottom: 100px;
	margin-left: 20px;
	margin-top: 
	color: #303331;}




body {width=500000px; 
	height= 10px }


img {max-width: 1000px}

#cubicula {
		position:relative;
		left: 350px;
		bottom: 1000px;

	}

#path {
	margin-right: 100px;
}


.contenedor {
	font-family:Myriad Pro ;
	width: 500px

}


